.Rproj.user
.Rhistory
.RData
.Ruserdata
pics/topbanner.xcf
pics/4dogs.png
pics/booktitle.png
docs/pics/4dogs.png
docs/pics/booktitle.png
docs/pics/topbanner.xcf
JPA2017/kosugitti/*.rds
docs/JPA2017/kosugitti/*.rds
.DS_Store
